*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d-flex{
    display: flex;
}
header{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
    border-bottom: 1px solid #bbb;
}
a{
    color: #222;
    text-decoration: none;
}
a span{
    color: #c23616;
}
ul{
    list-style: none;
}
.header-content{
    justify-content: space-between;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.nav-bar>li{
    margin-left: 1rem;
    margin-right: 1rem;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
}
video{
    width: 100%;
    height: auto;
}
.hero{
    position: relative;
    background: #808e9b;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    margin: 0;
}
.hero-content h3{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-bottom: 2rem;
}
.btn-main{
    background-color: #222;
    padding: 1rem 4rem;
    color: #fff;
    transform: 0.5s ease-in-out;
}
.btn-main:hover{
    background-color: #fff;
    color: #222;
}
.primary-bg{
    background-color: #808e9b;
}
.m-0{
    margin: 0 !important;
}
.grid{
    display: grid;
}
.col2-col1{
    grid-template-columns: 2fr 1fr;
}
.section-padding{
    padding-bottom: 3rem;
}
.call-to-action-btn{
    margin-top: auto;
    margin-bottom: auto;
}
.section-heading{
    margin-top: 1.5rem;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.text-right{
    text-align: right;
}
.col-1-col-1{
    grid-template-columns: 1fr 1fr;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.about-content p{
    margin: 1rem;
    margin-right: 0;
}
.social-links>ul>li{
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #222;
    border-radius: 50%;
    font-size: 1rem;
}
.social-links>ul>li:hover{
    background-color: #808e9b;
}
.services{
    background-color: #fff;
}
.text-center{
    text-align: center;
}
.align-item{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.col-1-col-1-col-1{
    grid-template-columns: auto auto auto;
}
.service{
    background-color: #fff;
    border: 1px solid #222;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 2rem;
}
.service i{
    font-size: 2.5rem;
}
.service h3{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.contact input,
.contact textarea{
    width: 100%;
    padding: 0.5rem 1rem;
}
.w-60{
    width: 60%;
}
.form-group{
    margin-top: 1.5rem;
}
.contact{
    background-image: url("./img/3.jpg");
    background-size: cover;
    color: #fff;
}
.contact label{
    font-weight: 700;
    font-size: 1.2rem;
    width: 100%;
}
.info{
    margin-top: 1rem;
}
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1;
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top,#008aff,#00ffe7);
    animation:animate 5s linear infinite;
    z-index: 1;
}
@keyframes animate{
    0%,100%{
        filter:hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter:blur(10px);
}
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter:blur(30px);
}
@media(max-width: 500px){
    .col-1-col-1,
    .col-1-col-1-col-1,
    .col2-col1{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .header .d-flex{
        flex-direction: column;
    }
    nav{
        padding: 1rem;
        text-align: center;
    }
    .nav-bar li{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: 0;
        border-top: 1px solid #222;
    }
    .m-border-bottom{
        border-bottom: 1px solid #222;
    }
    h1{
        font-size: 0;
    }
    h3{
        font-size: 1rem;
    }
    .btn-main{
        padding: 1rem 2rem;
    }
    .text-right{
        text-align: center;
    }
    .call-to-action-btn{
        margin-top: 2rem;
        text-align: center;
    }
    .w-60{
        width: 80%;
    }
}
